.App {
  font-family:Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.Menu, .Quiz, .EndScreen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(85, 116, 221);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu button, .Quiz button, .EndScreen button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.Menu, 
.Quiz {
  color: #fff;

}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}